html, body {
    background-color: #fff;
    margin: 0 auto;
    padding: 0;
    color: #000;
    font-family: 'arial', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
}
    
#content-wrapper {
    margin: 0;
    padding: 0;
    transition: .25s;
    border: 0;
    position: relative;
}

header {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #000;
    width: 100%;
    transition: 0.5s;
    z-index: 1;
}

#header {
    @media screen and (max-width: 768px) {
        position: fixed;
        top: 0;
    }
}

.headerinner {
    padding: 10px 0;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        margin: 0;
    }
}

.logo {
    box-shadow: 0.5px 0.5px 0 #00000079;
    cursor: pointer;
    margin: 10px 25px;
    display: inline-block;

    @media screen and (max-width: 768px){
        align-items: left;
        margin: 10px 15px;
    }
}
.logo a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.979);
    font-size: 1.5em;
    font-family: 'dancing script', sans-serif;
    font-weight: bolder;
}

.logo p {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.navigation {
    margin: 0 25px;
}

.navlist {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.navlink button {
    text-align: center;
    background: #222;    
    padding: 8px;
    margin: 3px;
    font-size: 0.5em;
    font-weight: 750;
    letter-spacing: 1.5px;
    color: #fff;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 0 #00000079;

    &:hover {
        transform: scale(1.05);
        transition: 0.25s;
    } 
}

.navlink {
    text-decoration: none;
}

.menu-bars, .menu-times {
    display: block;
    flex-direction: column;
    position: absolute;
    color: #fff;
    right: 15px;
    font-size: 1.25em;
}

#menubtn {
    display: none;
    margin: 0;
    padding: 0;
    
    @media screen and (max-width: 768px) {
        position: relative;
        display: flex;
        width: 100%;
    }
}

.menu-bars {
    top: -15px;
    z-index: 80;
}

.menu-times {
    right: -100%;
    top: 25px;
    color: red;
    transition: .5s ease-in-out;
    z-index: 100;
}

.menu-bars i, .menu-times i {
    cursor: pointer;
}

#mm {
    position: fixed;
    right: -100%;
}

.mobilemenu {
    display: none; 

    @media screen and (max-width: 768px) {
        display: block;
        position: absolute;
        background-color: #222;
        opacity: 0.975;
        top: 0;
        width: 80%;
        height: 100vh;
        transition: .25s ease-in-out;
        z-index: 85;
    }
}

#mask {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background: none;
    backdrop-filter: blur(5px);
    transition: .25s;
}

.menu {
    width: 100%;
    height: auto;
    position: relative;
}

.menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 25px;
}

.menu-links .link {
    color: #fff;
    text-decoration: none;
    padding: 10px 5px;
    margin: 10px 0;
    border-bottom: 0.15em #fff solid;
    width: 100%;
    cursor: pointer;

    &:hover {
        transform: scale(1.015);
        transition: .5s;
    }
}

.menu-links a {
    font-size: 0.75em;
    letter-spacing: 5px;
}

#text {
    margin-top: 20px;
    
    @media screen and (max-width: 768px) {
        margin-top: 100px;
    }
}

#text p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #000;
    padding: 10px;
}

.promo {
    margin: 0;
    padding: 50px;
    background-color: #000;
    display: block;
    border-top: 10px;
    height: 100%;
    border-bottom: #ddd 5px solid;
}

.promo-heading h3 {
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-family: "Satisfy", cursive;
    padding: 10px;
}

.promo-caption p {
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}

.promo button {
    display: block;
    margin: auto;
    background-color: blue;
    border: none;
    border-radius: 10px;
    padding-bottom: 5px;
    outline: none;

    &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}

.promo button a {
    text-decoration: none;
    padding: 5px;
    color: #fff;
    font-size: 0.75em;
}

.search-wrapper {
    position: relative;
    display: block;
    margin: 35px auto;
    padding: 0;
    text-align: center;

    @media screen and (max-width: 768px) {
        margin-top: 100px;
    }
}

.searchbox {
    position: relative;
    display: inline-block;
    background: white;
    border: #000 2px solid;
    padding: 10px;
    border-radius: 5px;
    height: 35px;
}

#searchinput {
    position: relative;
    border: none;
    background: none;
    outline: none;
    float: left;
    margin-top: -5px;
    color: #000;
    font-size: 0.75em;
    transition: 0.4s;
    width: 200px;
    
    &:focus {
        transform: scale(1.025);
        transition: 0.25s;
    } 
}

#searchbutton {
    position: relative;
    color: #fff;
    font-size: 0.75em;
    float: right;
    width: 1px; 
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    outline: none;
    padding: 12.5px;
    background: #000;
    top: -7.5px;
    right: -5px;
    border: none;
    outline: none;
}

main {
    background-color: #fff;
    margin: 50px auto;
    padding: 0;
    max-width: 1135px;
    
    @media screen and (max-width: 1024px) {
        max-width: 955px;
        margin: 25px auto;
    }
}

/* main {} */

main .music-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 35px;
    position: relative;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        margin: 20px;
    }

    @media screen and (max-width: 375px) {
        display: block;
    }
}

.music-wrapper {}

.music-post {
    position: relative;
    border-radius: 10px;
    background-size: cover;
    display: block;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 4px 2px #ddd;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        display: block;
    }
    
    @media screen and (max-width: 768px) {
        margin-bottom: 20px;
    }
}

.music-post #tag {
    position: absolute;
    display: inline-block;
    background-color: #ff0525;
    color: #fff;
    font-size: 0.75em;
    padding: 6px 10px;
    top: 0;
    left: 0;
    width: fit-content;
}

.music-post img {
    width: 100%;
    height: 100%;
    cursor: pointer;

    @media screen and (max-width: 768px) {
    }
}

.post-item {
    position: relative;
    height: 90px;
    padding: 12.5px;
    cursor: pointer;
}

.post-item h2 {
    font-size: 0.925em;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

#date-posted {
    position: relative;
    font-size: 0.65em;
    display: flex;
    align-items: center;
    gap: 3px;
    color: #525252;
}

#date-posted p {
    margin: 0;
    padding: 0;
}

#date-posted .icon {
    color: #000;
}

.content-title-bar p {
    color: white;
    background: blue;
    width: 55px;
    padding: 8px 10px 10px 10px;
    margin: 0;
    font-size: 0.5em;
    font-weight: 1000;
    text-align: center;
}
.content-title-bar {
    grid-column: 1/3;
    height: 30px;
    margin: 15px;
    overflow: hidden;
    background: #000;
}

.content-title-bar .wrapper {
    display: flex;
    justify-content: space-between;
}

.content-title-bar .wrapper .all-videos {
    color: #fff;
    font-size: 0.75em;
    padding: 5px 15px;
}

.flex {
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (max-width: 980px) {
        display: block;
        margin: 10px;
    }
}

.flex .video-content {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    margin: 20px;
    padding: 0;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);

    @media screen and (max-width: 600px) {
        display: block;
        margin: 10px;
        padding-top: 2.5px;
        padding-bottom: 5px;
    }
}

.video-post {
    margin-bottom: 25px;
}

.video-post a {
    text-decoration: none;
    color: #000;
}

.video-post h3 {
    padding-top: 0;
    margin: 0 15px 0 15px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.video-item {
    max-width: 1500px;
    max-height: 1500px;
    margin: 15px;
}

.video-item figure {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.video-item img {
    width: 100%;
    height: 325px;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.load-more {
    display: block;
    text-align: center;
    margin: 35px auto;
}

#loadmore {
    display: inline-block;
    font-size: 0.75em;
    padding: 6px 10px;
    background-color: #fff;
    border: #000 2px solid;
}

.sidebar {
    display: block;
    width: 40%;
    margin: 20px 0 0 50px;

    @media screen and (max-width: 980px) {
        display: block;
        width: 100%;
        margin: 0;
    }
}

.social-section {
    background: #fff;
    padding: 15px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
}

.sidebar-socials p {
    color: #000;
    text-align: center;
    font-size: 1.5em;
    font-family: "Satisfy", cursive;
    font-weight: 800;
    padding-top: 50px;
}

.sidebar-socials {
    padding-bottom: 50px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
}

.sidebar-socials a {
    color: #000;
    text-decoration: none;
    font-size: 2.5em;
}

.trending {
    width: 100%;
    background: #fff;
    padding: 15px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.025);
}

.sidebar-content {
    display: flex;
    padding: 25px 0 15px 0;
}

.sidebar-content a {
    text-decoration: none;
    color: #000;
}

.sidebar .content-title-bar {
    grid-column: 1/3;
    height: 30px;
    margin: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.85);
    
}
.sidebar .content-title-bar P {
    color: white;
    background: blue;
    width: 75px;
    padding: 8px 10px 10px 10px;
    margin: 0;
    font-size: 0.5em;
    font-weight: 1000;
    text-align: center;
}

.sidebar-content img {
    width: 100px;
    height: 75px;
    border-radius: 7.5px;
    cursor: pointer;
    object-fit: cover;

    @media screen and (max-width: 980px) {
        width: 150px;
        height: 150px;
    }
}
.sidebar-content-text {
    padding: 10px;
}
.sidebar-content-text h3 {
    font-size: 0.75em;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.sidebar-content-text p {
    display: none;

    @media screen and (max-width: 980px) {
        padding-top: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.sidebar-content-text .publisher-date p {
    display: flex;
    gap: 5px;
    font-size: 0.5em;
    color: black;
    padding-bottom: 5px;

    @media screen and (max-width: 980px) {
        margin: 0;
    }
}

.sidebar-content-text .publisher-date text {
    font-size: 1.25em;
    font-weight: 400;
    color: black;
    margin-top: -3.5px;
}

.sidebarcontentcont {
    border: 2px black solids;
}

footer {
    width: 100%;
    background-color: black;
}

footer .sociallinks {
    display: block;
    background-color: rgba(15, 15, 15);
    padding: 50px;
    border-bottom: 1px rgb(100, 100, 100) solid;
    text-align: center;
}

 .sociallinks a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.footercontainer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    max-width: 1200px;
    margin: auto;

    @media screen and (max-width: 980px) {
        display: block;
    }
}

.footernav {
    padding-top: 10px;
    
    @media screen and (max-width: 980px) {
        text-align: center;
        padding-bottom: 15px;
    }
}

.footernav a {
    text-decoration: none;
    padding: 5px;
    font-size: 0.75em;
    color: white;
    border-radius: 10px;

    &:hover {
        color: blue;
    }
}

.footerlogo {
    padding-top: 10px;
    
    @media screen and (max-width: 980px) {
        text-align: center;
        padding-top: 15px;
    }
}

.footerlogo a {
    padding: 10px;
    text-align: left;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.979);
    font-size: 1em;
    font-family: 'dancing script', sans-serif;
    font-weight: 1000;
}